<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>CHAKKUPALLAM GRAMA PANCHAYAT</title>
</head>
<body>
<div style="text-align:center">
    <a href="adminhome"><b>HOME</b></a><br><br>
</div>
<div class="container p-3 my-3 bg-dark text-white">
    <div style="text-align:center">
<h1>ചക്കുപള്ളം ഗ്രാമപഞ്ചായത്ത് (Chakkupallam Grama Panchayat)</h1><br>
        <h3> Local Government Institution, Idukki District, Kerala</h3></div></div><br>
<div class="container-sm border"><br>
<div class="container">
    <h6><p class="text-justify"><div style="text-align:center"><b><u>About Chakkupallam</u></b></div> <br>
        According to Census 2011 information the location code or village code of Chakkupallam village is 628082.
        Chakkupallam village is located in Udumbanchola Tehsil of Idukki district in Kerala, India.
        It is situated 34km away from sub-district headquarter Nedumkandam and 55km away from district headquarter Painavu.
        As per 2009 stats, Chakkupallam village is also a gram panchayat.
        The total geographical area of village is 2833 hectares. Chakkupallam has a total population of 12,609 peoples.
        There are about 3,429 houses in Chakkupallam village. As per 2019 stats, Chakkupallam villages comes under Peerumade assembly & Idukki parliamentary constituency.
        Thodupuzha is nearest town to Chakkupallam which is approximately 103km away.
        Chakkupallam is a Gram (village) Panchayat in Idukki district in the Indian state of Kerala.
        The administrative capital(Panchayat Office) and village center of Chakkupallam Gram(Village) Panchayat is Anakkara,
        located on Kumily-Munnar state highway. The town has a large church, built in 2000.
     </p></h6>
    <div style="text-align:center">
  <img src="{% static 'chakkupallamgp.jpg' %}" class="img-rounded"  width="600" height="400"><br><br>
    </div>
<div style="text-align:center">
<table  class="table table-white table-striped" border="2">
<tr>
    <th>STATE</th>
    <td>KERALA</td>
</tr>
<tr>
    <th>DISTRICT</th>
    <td>IDUKKI</td>
</tr>
<tr>
    <th>BLOCK/TEHSIL</th>
    <td>UDUMBANCHOLA</td>
</tr>
<tr>
    <th>POPULATION(2001)</th>
    <td>12,609</td>
</tr>
<tr>
    <th>HOUSE HOLDS</th>
    <td>3,429</td>
</tr>
<tr>
    <th>LANGUAGES OFFICIAL</th>
    <td>MALAYALAM , ENGLISH</td>
</tr>
<tr>
    <th>TIME ZONE</th>
    <td>UTC+5:30 (IST)</td>
</tr>
<tr>
    <th>VEHICLE REGISTRATION</th>
    <td>KL - 37</td>
</tr>
<tr>
    <th>PIN CODE</th>
    <td>685512</td>
</tr>
<tr>
    <th>AREA</th>
    <td>2833 hectares</td>
</tr>

<tr>
    <th>ASSEMBLY CONSTITUENCY</th>
    <td>PEERUMEDE</td>
</tr>
<tr>
    <th>PARLIMENTORY CONSTITUENCY</th>
    <td>IDUKKI</td>
</tr>
    <tr>
    <th>NEAREST TOWN</th>
    <td>THODUPUZHA</td>
</tr>
</table><br><br>
</div>
<div style="text-align:center">
<table  class="table table-white table-striped" border="2">
<tr>
    <th>TOTAL POPULATION</th>
    <th>MALE POPULATION</th>
    <th>FEMALE POPULATION</th>

</tr>
<tr>
    <td>12,609</td>
    <td>6,254</td>
    <td>6,355</td>
</tr>
</table>
<div style="text-align:center">
<table  class="table table-white table-striped" border="2">
    <tr>
<th><h3>Nearby Villages of Chakkupallam</h3></th></tr>
    <tr>
        <td>Karunapuram</td><br></tr><tr>
    <td>Vandanmedu</td><br></tr><tr>
    <td>Kattappana</td><br></tr><tr>
<td>Ayyappancoil</td><br></tr><tr>
    <td>Anavilasam</td><br></tr><tr>
    <td>Anakkara</td><br></tr><tr>
<td>Kumaramangalam</td><br></tr><tr>
    <td>Kodikulam</td><br></tr><tr>
<td>Vannapuram</td><br></tr><tr>
<td>Kanjikuzhi</td><br></tr><tr>
<td>Udumbannoor</td><br></tr>
    </tr>
</table></div>

<div style="text-align:center">
    <h2><b><u>CHAKKUPALLAM GRAMA PANCHAYAT MEMBERS</u></b></h2>
<img src="{% static '4 Kusumam Satheesh.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Kusumam Satheesh</h6>
<h6>PRESIDENT</h6>
</div>
<div class="container">
<div class="row">
<div class="col-sm-4">
<img src="{% static '1 Bindhu Jayakumar.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Bindhu Jayakumar</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '2 Mariammal Madaswami.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Mariammal Madaswami</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '3 Asha Sukumar.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Asha Sukumar</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '5 Leelamma Varghese.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Leelamma Varghese</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '6 Ancy Biju.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Ancy Bijur</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '7 Devasiya Joseph.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Devasiya Joseph</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '8 Tincy Shiju.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Tincy Shiju/h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '9 Thulasy Pradeep.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Thulasy Pradeep</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '10 Valsamma.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Valsamma</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '11 Rajappan.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>V K Rajappan</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '12 Antony Scaria.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Antony Scaria</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '13 Lovely Easow.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Lovely Easow</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '14 Vijayamma Krishnankutty.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Vijayamma Krishnankutty</h6>
<h6>Member</h6>
</div>
<div class="col-sm-4">
<img src="{% static '15 Surendran Madhavan.jpg' %}" class="img-rounded" alt="Cinque Terre" width="170" height="200">
<h6>Surendran Madhavan</h6>
<h6>Member</h6>
</div>
</div>
</div></div>
</div></div>
</body>
</html>