<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>UPDATE SCHEME DETAILS</title>
     <style type="text/css">
	label{
		color: red;
	}
	</style>
      <script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'jquery.validate.min.js' %}"></script>
	<script type="text/javascript">
		$(function()
		{
			$("#form1").validate({
				rules:{
					scheme:{
						required:true
					},
					requirements:{
					    required:true
					},

                }

			});
		});
	</script>
</head>
<body>
<div style="text-align:center">
<a href="adminhome"><b>HOME</b></a><br>
   <br>
<a href="addscheme"><b>ADD SCHEME</b></a><br>
</div><br>
<form id="form1" action="updatescheme" method="post">
{% csrf_token %}
    <div class="container-sm border"><br>
<div class="container">
<div class="container p-3 my-3 bg-dark text-white">
    <div style="text-align:center">
    <h1> UPDATE SCHEME DETAILS</h1>
    </div></div>
<input type="hidden" value="{{data.id}}" name="id">
    <div class="form-group">
      <div style="text-align:left">
       <div class="scheme"><b>SCHEME:</b></div>
      <input type="text" id="scheme" name="scheme" value="{{data.scheme}}" class="form-control"  placeholder="Enter  the scheme">
      </div></div>
<div class="form-group">
      <div style="text-align:left">
     <div class="requirements"><b>REQUIREMENTS:</b></div>
      <input type="text" id="requirements" name="requirements" value="{{data.requirements}}" class="form-control"  placeholder="Select  requirements">
      </div></div><br><br>
    <div style="text-align:center">
    <button type="submit" class="btn btn-info">UPDATE</button><br><br>
</div>
    </div>
    </div></form>
</body>
</html>