<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>GRAMAPANCHAYAT</title>
<style>
table,th,td
{
border: 1px solid black;
}
table.center
{
margin-left: auto;
margin-right: auto;
}
</style>
</head>
<body>
<div style="text-align:center">
    <a href="adminhome"><b>HOME</b></a><br><br>
</div>
<div class="container p-3 my-3 bg-dark text-white">
    <div style="text-align:center">
    <h1>DISTRICT PANCHAYATS</h1>
    </div></div><br><br>
<div class="container-sm border"><br>
<div class="container">
<table  class="table table-dark table-striped" border="2">
<tr><th><h5><b>DISTRICT PANCHAYAT</b></h5></th>
    <th><h5><b>MEMBERS</b></h5></th></tr>
<tr><td><h4>Thiruvananthapuram</h4></td>
    <td><h4>26</h4></td></tr>
<tr><td><h4>Kollam</h4></td>
    <td><h2>26</h2></td></tr>
<tr><td><h4>Pathanamthitta</h4></td>
    <td><h2>17</h2></td></tr>
<tr><td><h4>Alapuzha</h4></td>
    <td><h2>23</h2></td></tr>
<tr><td><h4>kottayam</h4></td>
    <td><h2>23</h2></td></tr>
<tr><td><h4>Idukki</h4></td>
    <td><h2>16</h2></td></tr>
<tr><td><h4>Eranakulam</h4></td>
    <td><h2>26</h2></td></tr>
<tr><td><h4>Thrissur</h4></td>
    <td><h2>29</h2></td></tr>
<tr><td><h4>Palakkad</h4></td>
    <td><h2>29</h2></td></tr>
<tr><td><h4>Malappuram</h4></td>
    <td><h2>32</h2></td></tr>
<tr><td><h4>Kozhikode</h4></td>
    <td><h2>27</h2></td></tr>
<tr><td><h4>Wayanad</h4></td>
    <td><h2>16</h2></td></tr>
<tr><td><h4>Kannur</h4></td>
    <td><h2>26</h2></td></tr>
<tr><td><h4>Kasarkode</h4></td>
    <td><h2>16</h2></td></tr>
 </table>
</div></div>
</body>
</html>